<!-- Slider main container -->
<div class="swiper-container hidden-md-down">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->

      <div class="swiper-slide">
        <div class="home-header-wrapper" style="background-image: url('http://d2hmp4n7p97ldw.cloudfront.net/assets/home/slide-01-8cbc930548eeb4bea8aa8852ab1526e3cb670f4bce5c86a91609afec78715f7d.jpg')">
          <div class="container home-header">
            <div class="home-header-box-1">
                <h1>멋쟁이 사자처럼 ✕ 연세대</h1>
                <hr>

            </div>
            <div class="home-header-box-1">
                <div class="log-form">
                    
                </div>
            </div>
            <div class="home-header-box-2">
              <h2>지원마감까지 <span class="count">∞일 ∞시간 ∞분 ∞초</span></h2>
              <h6>컴퓨터를 모르는 학생들이<br>프로그래밍 교육을 통해 원하는 IT서비스를 직접 런칭합니다</h6>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

</div>

<!-- mobile main header -->
<div class="home-header-wrapper hidden-lg-up" style="background-image: url('http://d2hmp4n7p97ldw.cloudfront.net/assets/home/slide-01-8cbc930548eeb4bea8aa8852ab1526e3cb670f4bce5c86a91609afec78715f7d.jpg')" >
  <div class="container home-header">
      <div class="home-header-box-moblie-logo">
        <img src="http://d2hmp4n7p97ldw.cloudfront.net/assets/logo/likelion-white-a930fbcdf3042a50ba882ece9c02f43536971297a8e143e212d9b92d653bfa44.png" alt="Likelion white" />
      </div>
      <i class="fa fa-home" aria-hidden="true"></i>
      <div class="home-header-box-mobile-title">
        <div class="slogan font-weight-bold"></div>
        <h1>멋쟁이 사자처럼 ✕ 연세대</h1>
        <hr>
            <div class="log-form-mobile">
            </div>
        <br>
        <h4>
          면접까지 <span class="count">∞일 ∞시간 ∞분 ∞초</span>
        </h4>
      </div>
      <a href="#home-body" class="home-header-box-moblie-arrow-down">
      </a>
  </div>
</div>

